$my-font-color: #321aaa;
$my-background-color: #abcdef;

body {
    header {
        font-size: 3em;
        font-weight: bold;
        text-align: center;
        color: $my-font-color;
        background-color: $my-background-color;
        padding: 0.5em 0;
    }
    p {
        font-size: 2em;
    }
    section {
        font-size: 2em;
    }
    svg {
        g.text-input {
            fill: red;
        }
    }
}